<div class="container m-5">

  
    
    <legend class="text-center">AJOUTER UN LIVRE</legend>
    <form (ngSubmit) = "saveLivre(livre)" #livre="ngForm">
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Titre</label>
      <input type="text" name="titre" class="form-control" placeholder="..." ngModel required>
    </div>

    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Auteur</label>
      <input type="text" name="auteur" class="form-control" placeholder="..." ngModel required>
    </div>

    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Genre</label>
      <input type="text" name="genre" class="form-control" placeholder="..." ngModel required>
    </div>

    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">ImageUrl</label>
      <input type="text" name="imageUrl" class="form-control" placeholder="..." ngModel required>
    </div>

    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Prix</label>
      <input type="number" name="prix" class="form-control" placeholder="..." ngModel required>
    </div>


    
    <div class="mb-3">
      <div class="form-check">
        
        
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>

  </form>
  </div>

