








<nav class="navbar navbar-expand-lg bg-success p-1 text-white bg-opacity-25">
  <div class="container-fluid py-3 ">
    <div class="fs-2 p-1 border rounded-4 ">JEUX &nbsp; DE &nbsp; MOTS </div>
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">










        <li class="nav-item p-2">
          <a class="nav-link active ms-5 fs-4 p-2 border rounded-4" aria-current="page" href="#">Notre librairie</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link active ms-5 fs-4 border rounded-4" routerLink="/livres">Nos livres</a>
        </li>




  









        <div class="ms-5">
        <li class="nav-item dropdown ms-5">
          <a class="nav-link dropdown-toggle ms-5 fs-4" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            &nbsp;  &nbsp;    &nbsp;   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;            
            &nbsp;  &nbsp;    &nbsp;   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;           
            &nbsp;  &nbsp;    &nbsp;   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;            
            &nbsp;  &nbsp;    &nbsp;   &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp;    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Administrateur             
          </a>
      
        
          <ul class="dropdown-menu ms-5" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/ajouterunlivre">Ajouter un livre</a></li>
            <li><a class="dropdown-item">à rajouter</a></li>
          </ul>
        
          </li>
        
        </div>








      
        
       
      </ul>
     
    </div>
  </div>
</nav>














<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!! router - outlet !!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<router-outlet></router-outlet>
